.container{
    display: flex;
    flex-direction:row;
    gap: 20px;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 0.625rem;
    margin-bottom: 1rem;
    padding: 1.25rem;

    
}