.btn{
    display: inline-flex;
    height: 3.75rem;
    padding: 0rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;  

    &.sm{
        background: var(--color-primary);
    }

    &.lg{
        display: flex;
        width: 21.875rem;
        height: 3.75rem;
        margin-left: 0.625rem;
        margin-top: 3.75rem;
        padding: 0rem 1.25rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex-shrink: 0;

        border-radius: 0.5rem;
        background: var(--color-grey-200);
    }
}