:root{
    --color-primary:#27AE60;
    --color-secundary:#EB5757;
    --color-write:#fff;
    --color-grey-0:#F5F5F5;
    --color-grey-100:#E0E0E0;
    --color-grey-200: #BDBDBD;
    --color-grey-300:#828282;
    --color-grey-600:#333333;
}